body{
    background-color: #FAF6F0;
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

/* colors 
purple: #BFC0EB
pink: #F3C7ED
beige: #FAF6F0
orange: #F7D7C3
dark beige: #EFE1D5
pinky orange: #F7D2C9
*/

/* navbar */
#mainNavbar {
    font-size: 1rem;
    font-weight: 100;
  }
  
  #mainNavbar .nav-link {
    color: #6064ea;
    padding: 5px 50px 0px 0px;
  }
  
  #mainNavbar .nav-link:hover {
    color: #BFC0EB;
  }
  
  #mainNavbar .navbar-brand {
    color: #BFC0EB;
  }
  
  #mainNavbar img {
      width: 12rem;
      padding: 0px 50px 0px 0px;
  }

.navbar.scrolled{
    background-color: #cce7ff;
    transition: background 500ms;
}

.navbar-mobile-img{
        transform: translateX(-50%);
        left: 50%;
        position: absolute;
}

.navbar-toggler{
    margin-top: 10px;
}


/* Home section */
.hero-img{
    width: 600px;
    /* padding: 20px 0px 0px 30px; */
}

section{
    margin-top: 85px;
}


.row-hero{
    margin-top: 50px;
    margin-bottom: 50px;
}

#headingGroup h1, h2, p{
    color: #6064ea;
}

#headingGroup h1{
    font-size: 1.9rem;
}

#headingGroup h2{
    font-size: 1.2rem;
    margin-bottom: 30px;
}

#headingGroup p{
    font-size: 0.8rem;
    line-height: 2;
}

.btn{
    border: 0.75px solid #6064ea;
    background-color: #fce5c9;
    color: #FD886A;
    font-size: 0.9rem;
    margin: 30px 0px;
}

.btn:hover{
    background-color: #FD886A;
    border: 1px solid #6064ea;
    opacity: 85%;
    transition: width 2s, height 2s, background-color 1s, transform 2s;
}

.coded-by {
    margin-top: 0;
    font-size: 15px;
  }

footer{
    background-color: #e2f0fc;
    font-size: 0.8rem;
    margin: 0;
    padding: 20px 0px;
    text-align: center;
}

footer p{
    margin: 0;
}

footer a:hover{
    text-decoration: none;
}

